# --- PRIVATE DATA (DO NOT UPLOAD) ---
serviceAccountKey.json
db.sqlite3
media/
.env
*.json

# --- FLUTTER JUNK ---
build/
.dart_tool/
.packages
.pub/
*.exe

# --- PYTHON JUNK ---
__pycache__/
*.py[cod]
venv/